{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row" style="margin-top: -35px;">
            <div class="col text-center mt-3">
                <h2 class="text-white"><span class="logo-font">BRAIDME</span> Blog Post Management</h2>
                <h4 class="text-white">Add a Post</h4>
            </div>
        </div>

        <div class="row bg-white mt-3 pt-4 pb-4" style="min-height: 100vh; color: gray !important;">
            <div class="col-11" style="margin: auto;">
                <form method="POST" action="{% url 'add_post' %}" class="form mt-4 mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'posts' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Post</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
    <div class="btt-button shadow-sm border border-circle">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    <footer id="sticky-footer" class="py-4 bg-light">
        <div class="text-center">
        <small class="text-black">Copyright &copy; <script>document.write(new Date().getFullYear())</script>&nbsp; &nbsp;<span class="logo-font text-black">BRAIDME</span></small>
        </div>
    </footer>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}