{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row mb-0" style="margin-top: -35px;">
    <div class="col text-center mt-3 mb-1">
        <a class="font-weight-bold nav-link text-white" href="{% url 'posts' %}">
            <h2 class="text-white"><span class="logo-font">BRAIDME</span> Blog</h2>
        </a>
    </div>
</div>
<div class="bg-white vh-100 pb-5" style="color: black; overflow-x: hidden;">
    <div class="container message-view">
        <div class="row">
            <div class="col-md-8 offset-md-2 pt-4">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close"><script>setTimeout(() => {
                        $('.alert').alert('close')
                    }, 2000)</script></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="masthead text-center">
        <div class="container pt-4">
            <div class="row g-0">
                <div class="col-md-6 masthead-text" style="max-height: 40%; margin: auto;">
                    <!-- Post title goes in these h1 tags -->
                    <h1 class="display-4">{{ post.title }}</h1>
                    <!-- Post author goes before the | the post's created date goes after -->
                    <p>By {{ post.author }}, posted on {{ post.updated }}</p>
                </div>
            </div>
            {% if request.user.is_superuser %}
                <small class="ml-3 mb-2 text-center">
                    <a href="{% url 'edit_post' post.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                </small>
            {% endif %}
        </div>
    </div>
    <hr class="w-50 mb-1">
    <div class="container">
        <div class="row">
            <div class="col card border-0 mb-4  mt-3 left top">
                <div class="card-body">
                    <!-- The post content goes inside the card-text. -->
                    <!-- Use the | safe filter inside the template tags -->
                    <p class="card-text ">
                        {{ post.content | safe }}
                    </p>
                    <div class="row">
                        <div class="col-1">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{post.id}}" class="btn-like-bm"><i class="fas fa-heart"></i></button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{post.id}}" class="btn-like-bm"><i class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                            </strong>
                        </div>
                        <div class="col-1">
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                <!-- Our total_comments variable goes before the closing strong tag -->
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3 class="pl-4 pt-4">Comments:</h3>
                <div class="card-body">
                    <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the comment goes before the | -->
                        {{ comment.body | linebreaks }}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    <!-- For later -->
                    {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-lg btn-light blog-submit">Submit</button>
                        </form>
                        {% else %}
                        <p>Please login to leave a comment</p>
                        {% endif %}
                    {% if commented %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting approval
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row rounded" style="justify-content: space-between; border: 1px solid lightgrey;">
            <div class="col-3 p-3 btn blog-post-btn">
                {% if prevpost %}
                <a href="{% url 'posts' %}/{{ prevpost.id }}">&laquo Previous Post: {{ prevpost }}</a>
                {% else %}
                <a href="{% url 'posts' %}">All Posts</a>
                {% endif %}
            </div>
            <div class="col-3 p-3 btn blog-post-btn">
                {% if nextpost %}
                <a href="{% url 'posts' %}/{{ nextpost.id }}">Next Post: {{ nextpost }} &raquo</a>
                {% else %}
                <a href="{% url 'posts' %}">All Posts</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm border border-circle mr-3">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-light">
    <div class="text-center">
    <small class="text-black">Copyright &copy; <script>document.write(new Date().getFullYear())</script>&nbsp; &nbsp;<span class="logo-font text-black">BRAIDME</span></small>
    </div>
</footer>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}